{% extends 'base.html' %}
{% block main %}
<div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
    style="min-width: 40%;">
    <h4 class="text-4xl font-extrabold dark:text-white">Change your Password</h4>
    <form method="post" style="margin-top: 40px;">
        {% csrf_token %}
        <div class="mb-6" id="useridBlock"></div>
        <div class="mb-6" id="passBlock"></div>
        {{ form }}
        <button type="submit" style="margin-top: 10px;"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Reset</button>
    </form>
</div>
</div>

<script>
    document.getElementsByName("old_password")[0].className = "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500";
    document.getElementsByName("new_password1")[0].className = "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500";
    document.getElementsByName("new_password2")[0].className = "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500";

    document.getElementsByTagName("label")[0].className = "block mb-2 text-sm font-medium text-gray-900 dark:text-white"
    document.getElementsByTagName("label")[1].className = "block mb-2 text-sm font-medium text-gray-900 dark:text-white"
    document.getElementsByTagName("label")[2].className = "block mb-2 text-sm font-medium text-gray-900 dark:text-white"
    document.getElementById("useridBlock").appendChild(document.getElementsByTagName("label")[0])
    document.getElementById("useridBlock").appendChild(document.getElementById("id_old_password"))
    document.getElementById("passBlock").appendChild(document.getElementsByTagName("label")[1])
    document.getElementById("passBlock").appendChild(document.getElementById("id_new_password1"))
    document.getElementById("passBlock").appendChild(document.getElementsByTagName("label")[2])
    document.getElementById("passBlock").appendChild(document.getElementById("id_new_password2"))
    window.onload = function () {
        if (document.getElementsByClassName("errorlist").length != 0) {

            let t = document.getElementsByClassName("errorlist").length
            for (let i = 0; i < t; i++) {
                let y = document.getElementsByClassName("errorlist")[i].getElementsByTagName("li").length;
                for (let j = 0; j < y; j++) {
                    document.getElementsByClassName("errorlist")[i].getElementsByTagName("li")[j].setAttribute('class', 'inline-flex items-center text-sm font-medium text-red-700 dark:text-red-500')
                    console.log(document.getElementsByClassName("errorlist")[i].getElementsByTagName("li")[j])
                }
            }
        }
    }
    let x = document.getElementsByTagName("li").length

    for (let i = 0; i < x; i++) {
        document.getElementsByTagName("li")[i].className = "inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white"
    }
</script>
{% endblock %}

inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 text-red-700 dark:text-red-500